In [1]:
#Import de dependências
import pandas as pd

In [2]:
#Leitura do base de dados
# Link da base de dados: https://www.kaggle.com/datasets/jillanisofttech/fake-or-real-news/data
data = pd.read_csv('fake_or_real_news.csv')

In [3]:
#Primeira visualização da base de dados 
data.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [4]:
#Detalhes das coludas da base
data.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [5]:
#Verificação dos campos nulos
data.isnull().sum()

Unnamed: 0    0
title         0
text          0
label         0
dtype: int64

In [6]:
#Verificação do tipo de dado referente às colunas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6335 entries, 0 to 6334
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  6335 non-null   int64
 1   title       6335 non-null   object
 2   text        6335 non-null   object
 3   label       6335 non-null   object
dtypes: int64(1), object(3)
memory usage: 198.1+ KB

In [7]:
#Verificando o conteúdo na coluna Label, para fim de confirmação dos dados se possuem somente 'Fake' ou 'Real'
data['label'].unique()

array(['FAKE', 'REAL'], dtype=object)

In [8]:
#Adicionando a coluna 'real' com dados booleanos das informações da coluna 'label', sendo 0 para 'Fake' e 1 para 'Real'
data['real'] = data['label'].map({'FAKE': 0, 'REAL': 1})

#Visualizando de como ficou a base após a inserção da coluna 'real'
data.head()

,Unnamed: 0,title,text,label,real
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,0
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,0
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,1
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,0
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,1

In [9]:
#Determinando a coluna ''Unnamed: 0' como coluna de índice(Index) da base.
data = data.set_index('Unnamed: 0')

#Removendo o títudo da coluna de índice(Index)
data.index.names = [None]

#Visualização da base após as inserções
data.head()

,title,text,label,real
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,0
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,0
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,1
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,0
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,1

In [10]:
#Removido a coluna 'label', pois os dados já constam na coluna 'real', coluna essa criada para a realização da análise
data = data.drop('label', axis=1)

#Visualização da base após remoção da coluna
data.head()

,title,text,real
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1

In [11]:
#Com a base principal com os dados tratados, vamos preparar as variaveis para análise
x = data["text"]
y = data["real"]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.svm import SVC
s=SVC()

In [13]:
#Utilizando Stop Word 
vect=CountVectorizer(stop_words="english")

In [14]:
x=vect.fit_transform(x)

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=20, random_state=42)

In [18]:
model=s.fit(x_train,y_train)
analise=model.predict(x_test)

In [19]:
#Total da acuidade de nossa análise
accuracy_score(analise,y_test)

0.9